<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style1.css">
    <title>Feedback Form</title>
</head>

<body>

    <div class="container">
        <div class="card">
            <div class="header">
                <div class="headingOne">
                    <h1>Feedback Form</h1>
                </div>
                <div class="viewAll">
                    <a href="/feedback">View all Feedbacks</a>
                </div>
            </div>

            <div class="body">
                <div class="form">
                    <% data.forEach((d)=> { %>
                        <article>
                            <blockquote>
                                <%= d.feedback %>
                                    <footer>
                                        <cite>
                                            <%= d.firstName %>
                                                <%= d.lastName %>
                                        </cite>
                                    </footer>
                            </blockquote>
                        </article>
                        <% }) %>
                            <div class="button-container">
                                <a href="/"><button>Back</button></a>
                            </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>