/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS reset code end */

body {
  box-sizing: border-box;
  background-color: #4f5d75;
  font-weight: 600;
  font-size: 1.2em;
}

.container {
  /* border: 1px solid red; */
  background-color: #ef8354;
  width: 70%;
  /* centering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.card {
  padding: 25px;
}

.header {
  /* border: 1px solid blue; */
  text-align: center;
  font-size: 2em;
  padding: 5px;
  font-weight: 1000;
}

label {
  /* border: 1px solid black; */
  width: 40%;
  display: inline-block;
  text-align: left;
}

#feedback {
  text-align: center;
  margin: 5px;
}

form div {
  /* border: 1px solid black; */
  margin: 15px;
  text-align: center;
}

button {
  margin: 0 auto;
  color: white;
  width: 20%;
  padding: 10px 5px 10px;
  background-color: teal;
  border: 1px solid teal;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: teal;
}

a {
  color: black;
  text-decoration-line: none;
  text-transform: uppercase;
  font-size: 0.8em;
}
a:hover {
  color: #403d39;
}

@media (min-width: 1200px) {
  label {
    /* border: 1px solid black; */
    width: 30%;
    display: inline-block;
    text-align: center;
  }
  input {
    /* border: 1px solid red; */
    width: 30%;
    display: inline-block;
    text-align: left;
  }
  #textarea {
    /* border: 1px solid red; */
    display: flex;
    margin: 0 auto;
    justify-content: center;
    /* width: 30%; */
  }
}
